<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      &nbsp;&nbsp;&nbsp;<ion-button color="primary" class="backbtn" routerLink="/home" routerDirection="back">
        <img src="../../assets/back-dark.svg" />
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button class="notification">
        <ion-icon name="notifications-outline" color="dark"></ion-icon>
        <span>&nbsp;</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div class="title ion-padding">
    <h2 class="font-bold">ลูกแมวแรกเกิด</h2>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide>
        <ion-col class="ion-text-left" routerDirection="forward">
          <img src="assets/Cat-Food/foodmus1.png" />
          <h6>ยี่ห้อ : Vitakraft</h6>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col class="ion-text-left" routerDirection="forward">
          <img src="assets/Cat-Food/foodmus2.png" />
          <h6>ยี่ห้อ : Regalos</h6>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col class="ion-text-left" routerDirection="forward">
          <img src="assets/Cat-Food/foodmus3.png" />
          <h6>ยี่ห้อ : Vitakraft </h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="description">
    <h5>อาหารลูกแมวแบบมูส</h5>

    <p>
      น้องเหมียววัยต่ำกว่า 1 เดือน จำเป็นต้องได้รับสารอาหารจากน้ำนมแม่เป็นหลัก
      เพื่อเสริมสร้างภูมิคุ้มกันที่ดีให้แก่ร่างกายซึงในช่วงนี้ลูกแมวจะยังไม่สามารถเคี้ยวอาหารได้
      และทานได้เฉพาะนมหรือของเหลวเท่านั้น
      หากแม่แมวไม่มีน้ำนมเพียงพอแล้วก็จำเป็นจะต้องให้อาหารมูสทดแทนเพื่อสารอาหารแก่น้องแมว
    </p>
  </div>
  <ion-button (click)="edit()">edit</ion-button>
  <ion-button (click)="presentAlertDelete()">delete</ion-button>

  <div class="seperator">
    <hr>
  </div>

  <!-- ************************************************************************************** -->
  <div class="title ion-padding">
    <h2 class="font-bold">ลูกแมว2-4 เดือน</h2>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide>
        <ion-col class="ion-text-left" routerDirection="forward">
          <img src="assets/Cat-Food/foodwet1.png" />
          <h6>ยี่ห้อ : Cat'njoy Pouch </h6>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col class="ion-text-left" routerDirection="forward">
          <img src="assets/Cat-Food/foodwet2.png" />
          <h6>ยี่ห้อ : Crispy Bites Cat Snack</h6>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col class="ion-text-left" routerDirection="forward">
          <img src="assets/Cat-Food/foodwet3.png" />
          <h6>ยี่ห้อ : Jinny Soft Chicken Slice </h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="description">
    <h5> อาหารลูกแมวแบบเปียก</h5>

    <p>
      อายุ2-4เดือน เขาจะสามารถทานอาหารแมวแบบเปียกได้และเริ่มทานอาหารที่แข็งได้มากขึ้น
      ซึ่งหากเขายังเคี้ยวไม่แข็งแรงก็สามารถป้อนอาหารเม็ดละลายน้ำโดยผสมเข้าด้วยกันอย่างละเอียดได้เช่นกัน และที่สำคัญ
      อาหารที่ควรเลือกให้น้องเหมียววัยนี้ทานควรเป็นอาหารที่ช่วยในเรื่องของการเสริมสร้างภูมิคุ้มกันเป็นหลัก
      โปรตีน, วิตามินซี, วิตามินอี, ทอรีน, แคลเซียม, ฟอสฟอรัส
    </p>
    <ion-button (click)="edit()">edit</ion-button>
    <ion-button (click)="presentAlertDelete()">delete</ion-button>
  </div>

  <div class="seperator">
    <hr>
  </div>

  <!-- ************************************************************************************** -->
  <br>
  <div class="title ion-padding">
    <h2 class="font-bold">แมว 1 ปีขึ้นไป</h2>
  </div>

  <div class="product-slider ion-padding-start">
    <ion-slides [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }">
      <ion-slide>
        <ion-col class="ion-text-left" routerDirection="forward">
          <img src="assets/Cat-Food/foodmet1.png" />
          <h6>ยี่ห้อ : Buzz Balance</h6>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col class="ion-text-left" routerDirection="forward">
          <img src="assets/Cat-Food/foodmet2.png" />
          <h6>ยี่ห้อ : Whiskas Pockets Salmon</h6>
        </ion-col>
      </ion-slide>

      <ion-slide>
        <ion-col class="ion-text-left" routerDirection="forward">
          <img src="assets/Cat-Food/foodmet3.png" />
          <h6>ยี่ห้อ : Monchou Tuna Meat and Chicken </h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="description">
    <h5>อาหารแมวแบบเม็ด</h5>

    <p>
      สารอาหารที่สำคัญ
      โปรตีน, โอเมก้า 3 และ 6, ไขมัน, ทอรีน, วิตามินและแร่ธาตุจากสมุนไพรและผลไม้
      เลือกให้อาหารเม็ดที่มีโปรตีนสูง และยังมี DHA แคลเซียม ฟอสฟอรัส สารต้านอนุมูลอิสระ
      เพื่อเสริมสร้างทั้งระบบโครงร่าง และการทำงานของภูมิคุ้มกันที่สมบูรณ์
    </p>
    <ion-button (click)="edit()">edit</ion-button>
    <ion-button (click)="presentAlertDelete()">delete</ion-button>
  </div>

  <div class="seperator">
    <hr>
  </div>
</ion-content>