<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/login" routerDirection="back">
        <img src="../../assets/back.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
  <div class="ion-padding container">
    <h1>Register</h1>

    <div class="form-container">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="name" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input  [(ngModel)]="email" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>
 
      <ion-item>
        <ion-label position="floating">Confrom Password</ion-label>
        <ion-input [(ngModel)]="confromPassword" type="password" (ionChange)="checkPassword()" ></ion-input> 
        <ion-text *ngIf="password && !passwordMatch" color="danger"> Password do not match!</ion-text>
        <ion-text *ngIf="password && passwordMatch" color="success" >Password match</ion-text>
        <ion-icon name="eye" slot="end"></ion-icon>
      </ion-item>

      <!-- <ion-button [disabled]="!passwordMatch" expand="block" class="main-button" (click)="register()"> Sign Up</ion-button> -->
      <ion-button [disabled]="!passwordMatch" expand="block" class="main-button" shape="round" (click)="register()"> Sign Up</ion-button>

      <div class="sign-up">
        Already have an account? <ion-button color="dark" fill="clear" routerLink="/login"  routerDirection="forward">Sign in</ion-button>
      </div>
    </div>
  </div>
</ion-list>
</ion-content>